@font-face {
    font-family: Verdana, sans-serif;
    src: url("../fonts/Verdana.ttf");
}
.full-page {
    background-image: url("../img/rana-sawalha-364253-unsplash@1X.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 770px;
}
.header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    height: 55px;
    display: block;
}
.logo{
    position: absolute;
    color: white;
    font-size: 20px;
    display: block;
    left:80px;
    top:15px;
    font-family:Verdana, sans-serif;
    font-weight: bold;
}
.logo:hover{
    color:#3cb878;
    transition: 0.3s;
    cursor: pointer;
}
.nav{
    position: absolute;
    right: 75px;
}
.ic_calendar{
    width: 19px;
    height: 19px;
    background: url(../img/sprites.png) -106px -10px;
    display: inline-block;
    margin-right: 28px;
}
.ic_calendar:hover{
    background: url(../img/sprites.png) -106px -49px;
    transition: 0.3s;
}
.ic_forum{
    width: 28px;
    height: 20px;
    background: url(../img/sprites.png) -10px -10px;
    display: inline-block;
    margin-right: 28px;
}
.ic_forum:hover{
    background: url(../img/sprites.png) -58px -10px;
    transition: 0.3s;
}
.ic_journay{
    width: 20px;
    height: 20px;
    background: url(../img/sprites.png) -10px -50px;
    display: inline-block;
}
.ic_journay:hover{
    background: url(../img/sprites.png) -50px -50px;
    transition: 0.3s;
}
.line1{
    width: 25px;
    height: 19px;
    border-right:solid 1px #4c4a4a;
    display: inline-block;
}
.welcome{
    color:white;
    display:inline-block;
    margin-left: 24px;
    font-size:14px;
    font-family: Verdana, sans-serif;
    vertical-align: 5px;
}
.log{
    display: inline-block;
    font-size:14px;
    font-family: Verdana, sans-serif;
    vertical-align: 5px;
}
.log a{
    color:#3cb878;
    text-decoration: none;
}
.log a:hover{
    border-bottom:1px solid;
}
.or{
    color:white;
    display:inline-block;
    font-size:14px;
    font-family: Verdana, sans-serif;
    vertical-align: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.sign{
    display: inline-block;
    font-size:14px;
    font-family: Verdana, sans-serif;
    vertical-align: 5px;
}
.sign a{
    color:#3cb878;
    text-decoration: none;
}
.sign a:hover{
    border-bottom:1px solid;
}
li{
    display: inline-block;
}
.main{
    width: 444px;
    height: 584px;
    background-color:white;
    margin:5% auto;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 20px 25px 0 black;
}
.shape{
    width: 18px;
    height: 18px;
    background-color:#3cb878;
    position: absolute;
    top:29px;
}
.logo_sign{
    position: absolute;
    font-family: Verdana, sans-serif;
    font-size:20px;
    color:#434343;
    top:26px;
    left:60px;
}
.form_sign{
    position: absolute;
    font-family: Verdana, sans-serif;
    font-size:14px;
    top:29px;
    right: 60px;
}
.form_sign a{
    text-decoration: none;
    color:#3cb878;
}
.form_sign a:hover{
    border-bottom:1px solid;
}
.facebook{
    width: 157px;
    height: 46px;
    display: block;
    position: absolute;
    border-radius:4px;
    background-color:#264b96;
    top:63px;
    left:60px;
}
a.facebook img{
    padding:13px 17px 0 20px;
}
a.facebook span{
    font-size:16px;
    font-family: Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    color:white;
    display: inline-block;
    padding:6px 0 6px 18px;
    border-left:1px solid #224387;
    position: absolute;
    top:8px;
}
.facebook:hover{
    background-color:#17387c;
}
.google{
    width: 157px;
    height: 46px;
    display: block;
    position: absolute;
    border-radius:4px;
    background-color:#c3412c;
    top:63px;
    right:60px;
}
a.google img{
    padding:15px 9px 0 15px;
}
a.google span{
    font-size:16px;
    font-family: Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    color:white;
    display: inline-block;
    padding:6px 0 6px 18px;
    border-left:1px solid #af3a28;
    position: absolute;
    top:8px;
}
.google:hover{
    background-color:#9b1f0c;
}
.line2{
    width: 135px;
    border-top: 1px solid #c5c5c5;
    margin:100px 0 0 60px;
    display: inline-block;
    padding-bottom: 3px;
}
.or2{
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color:#848484;
    margin-left:16px;
}
.line3{
    width: 135px;
    border-top: 1px solid #c5c5c5;
    margin:100px 0 0 16px;
    display: inline-block;
    padding-bottom: 3px;
}
.under{
    padding-top: 49px;
}
.first_name, .last_name, .email, .password, .password2{
    width: 303px;
    height: 46px;
    padding-left: 17px;
    position: absolute;
    left:60px;
    font-size:14px;
    font-family: Verdana, sans-serif;
    border-radius:6px;
    border-style:solid;
    border-color:#eaeaea;
    outline: none;
}
.first_name:focus{
    box-shadow: 1px 7px 15px rgb(189, 189, 189);
}
.last_name:focus{
    box-shadow: 1px 7px 15px rgb(189, 189, 189);
}
.email:focus{
    box-shadow: 1px 7px 15px rgb(189, 189, 189);
}
.password:focus{
    box-shadow: 1px 7px 15px rgb(189, 189, 189);
}
.password2:focus{
    box-shadow: 1px 7px 15px rgb(189, 189, 189);
}
.first_name{
    top:176px;
}
.last_name{
    top:231px;
}

.email{
    top:286px;
}
.password{
    top:341px;
}
.password2{
    top:396px;
}
.checkbox{
    width: 320px;
    height:31px;
    position: absolute;
    top:451px;
    left:60px;
    padding-top: 15px;
}
.checkbox [type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 1px solid #f1f1f1;
    border-radius:4px;
}
.checkbox [type="checkbox"]:checked{
    content: url("../img/checkbox@1X.png");
    padding:2px;
}
.text_agr{
    font-size: 15px;
    color: black;
    font-family: Verdana, sans-serif;
    vertical-align: 4px;
    padding-left:4px;
}
.text_agr a{
    text-decoration: none;
    color:#3cb878;
}
.text_agr a:hover{
    border-bottom:1px solid;
}
.button{
    width: 320px;
    height: 46px;
    position: absolute;
    color:white;
    background-color:#3cb878;
    font-family: Verdana,sans-serif;
    font-size: 16px;
    text-align: center;
    left:62px;
    top:506px;
    border-radius:4px;
    border-style: none;
}
.button:hover {
    background-color: #0e7e44;
}
